[Unit]
Description=ARGO web api service
After=mongod.service

[Service]
Type=simple
User=argo-web-api
Group=argo-web-api
Restart=on-failure
ExecStart=/var/www/argo-web-api/argo-web-api -conf=/etc/argo-web-api.conf
SyslogIdentifier=argo_web_api
[Install]
WantedBy=multi-user.target
