---
  swagger: "2.0"
  info:
    title: "Argo Web API"
    description: ""
    version: "2.0"
  host: "arpi.afroditi.hellasgrid.gr:443"
  basePath: "/api/v2"
  schemes:
    - "https"
  paths:
    /status/{report_name}/{group_type}/{group_name}:
      get:
        summary: "list status Endpoint groups"
        description: "This request is used to retrieve all the statuses of endpoint groups that match the given criteria of report name, group type and optionally group name."
        operationId: "statusEndpointGroupsID"
        produces:
          - "application/json"
          - "application/xml"
        parameters:
          - $ref: "#/definitions/x-api-key"
          - $ref: "#/definitions/start_date"
          - $ref: "#/definitions/end_date"
          - $ref: "#/definitions/report_name"
          - $ref: "#/definitions/group_type"
          - $ref: "#/definitions/group_name"
        responses:
          200:
            description: "Successful retrieval of statuses"
            examples:
              application/json: |-
                {
                   "groups": [
                     {
                       "name": "HG-03-AUTH",
                       "type": "SITES",
                       "statuses": [
                         {
                           "timestamp": "2015-05-01T00:00:00Z",
                           "value": "OK"
                         },
                         {
                           "timestamp": "2015-05-01T01:00:00Z",
                           "value": "CRITICAL"
                         },
                         {
                           "timestamp": "2015-05-01T05:00:00Z",
                           "value": "OK"
                         }
                       ]
                     }
                  ]
                }
              application/xml: |-
                <root>
                 <group name="HG-03-AUTH" type="SITES">
                   <status timestamp="2015-05-01T00:00:00Z" value="OK"></status>
                   <status timestamp="2015-05-01T01:00:00Z" value="CRITICAL"></status>
                   <status timestamp="2015-05-01T05:00:00Z" value="OK"></status>
                 </group>
                </root>
    /metric_profiles:
      post:
        summary: "metric_profiles (create)"
        description: "metric_profiles (create)"
        operationId: "metricProfilesCreate"
        produces:
          - "application/json"
        parameters:
          -
            name: "x-api-key"
            in: "header"
            description: "the x-api-key"
            required: false
            type: "string"
            x-example: "EGIKEY"
        responses:
          200:
            description: "OK"
            schema:
              type: "string"
      get:
        summary: "metric_profiles (list all)"
        description: "metric_profiles (list all)"
        operationId: "metricProfilesListAll"
        produces:
          - "application/json"
        parameters:
          -
            name: "x-api-key"
            in: "header"
            description: "the x-api-key"
            required: false
            type: "string"
            x-example: "EGIKEY"
        responses:
          200:
            description: "OK"
            schema:
              type: "string"
    /metric_profiles/24945288-a018-4903-b2db-96187286824f:
      delete:
        summary: "metric_profiles (delete)"
        description: "metric_profiles (delete)"
        operationId: "metricProfilesDelete"
        produces:
          - "application/json"
        parameters:
          -
            name: "x-api-key"
            in: "header"
            description: "the x-api-key"
            required: false
            type: "string"
            x-example: "EGIKEY"
        responses:
          200:
            description: "OK"
            schema:
              type: "string"
      put:
        summary: "metric_profiles (update)"
        description: "metric_profiles (update)"
        operationId: "metricProfilesUpdate"
        produces:
          - "application/json"
        parameters:
          -
            name: "x-api-key"
            in: "header"
            description: "the x-api-key"
            required: false
            type: "string"
            x-example: "EGIKEY"
        responses:
          200:
            description: "OK"
            schema:
              type: "string"
  definitions:
    x-api-key:
      name: "x-api-key"
      in: "header"
      description: "the x-api-key"
      required: true
      type: "string"
      default: "EGIKEY"
    report_name:
      name: "report_name"
      in: "path"
      description: "report the probes belong to"
      required: true
      type: string
      default: CRITICAL
    group_type:
      name: "group_type"
      in: "path"
      description: "group type of the probes"
      required: true
      type: string
      default: NGI
    group_name:
      name: "group_name"
      in: "path"
      description: "group names of the probes"
      required: false
      type: string
      default: SITE
    start_date:
      name: "start_date"
      in: "query"
      description: "start date of query in zulu format"
      required: true
      type: "string"
      default: "2006-01-02T15:04:05Z"
    end_date:
      name: "end_date"
      in: "query"
      description: "start date of query in zulu format"
      required: true
      type: "string"
      default: "2006-01-02T15:04:05Z"

# securityDefinitions:
# security:
