openapi: 3.0.1
info:
  title: ARGO web api
  description: ARGO is a lightweight service for Service Level Monitoring designed
    for medium and large sized e-Infrastructures. This swagger UI interface provides
    access to the ARGO web api, which in turn can be used for either retrieving Availability/Reliability
    and status results or for defining profiles and reports that should be used within
    the SLM computations. The ARGO web api is multitenant and can hence be used by
    multiple e-Infrastructure providers. To list, add, update or remove tenants use
    the Tenants resource below. Under all other resources use per given tenant the
    corresponding api key.
  contact:
    name: ARGO web api
    url: http://argoeu.github.io/argo-web-api
    email: argo-dev@lists.grnet.gr
  version: 1.11.0
servers:
- url: https://api.devel.argo.grnet.gr/api
tags:
- name: Tenants
  description: ARGO tenants
- name: Reports
  description: Everything about reports
- name: Operations Profiles
  description: Possible states and AND/OR truth tables
- name: Aggregation Profiles
  description: Service types groupings into higher groups
- name: Metric Profiles
  description: Metrics associated with a given service type
- name: Factors
  description: Multipliers for grouped aggregated A/R
- name: Recomputations
  description: A/R recomputations
- name: Results
  description: Availability/Reliability in numbers
- name: Status
  description: Status results in detail
- name: MetricResult
  description: Retrieve the full output of a  metric result
- name: Issues
  description: List of problematic endpoints
paths:
  /v2/admin/tenants/{TENANT_ID}:
    get:
      tags:
      - Tenants
      summary: List a specific tenant
      description: List one specific tenant designated by its unique id
      operationId: tenants.ListOne
      parameters:
      - name: TENANT_ID
        in: path
        description: id of the tenant
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      responses:
        200:
          description: A list with one tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    put:
      tags:
      - Tenants
      summary: Update a tenant
      description: update information on a specific tenant definition
      operationId: tenants.Update
      parameters:
      - name: TENANT_ID
        in: path
        description: id of the tenant
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      requestBody:
        description: Json description of tenant definition to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tenant'
        required: true
      responses:
        201:
          description: Tenant definition updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        400:
          description: Bad request due to malformed JSON in put body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: tenant
    delete:
      tags:
      - Tenants
      summary: Delete a tenant
      description: Delete a specific tenant which is targeted by it's unique id
      operationId: tenant.Delete
      parameters:
      - name: TENANT_ID
        in: path
        description: id of the tenant definition
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      responses:
        200:
          description: Tenant definition Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
  /v2/admin/tenants:
    get:
      tags:
      - Tenants
      summary: List all available tenants
      description: List all available tenants in the system
      operationId: tenants.List
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      responses:
        200:
          description: A list of all available tenants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    post:
      tags:
      - Tenants
      summary: Create a tenant definition
      description: Create a new tenant definition
      operationId: tenants.Create
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      requestBody:
        description: Json description of the tenant to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tenant'
        required: true
      responses:
        200:
          description: Tenant definition created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Self_reference'
        400:
          description: Bad request due to malformed JSON in post body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: tenant
  /v2/admin/tenants/{TENANT_ID}/status:
    get:
      tags:
      - Tenants
      summary: List a specific tenant's argo-engine status
      description: List one specific tenant's status designated by its unique id
      operationId: tenants.ListStatus
      parameters:
      - name: TENANT_ID
        in: path
        description: id of the tenant
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      responses:
        200:
          description: A list with one tenant's argo-engine status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant_status_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    put:
      tags:
      - Tenants
      summary: Update a tenant's status
      description: update information on a specific tenant's argo-engine status definition
      operationId: tenants.UpdateStatus
      parameters:
      - name: TENANT_ID
        in: path
        description: id of the tenant
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      requestBody:
        description: Json description of tenant's argo-engine status definition to
          be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tenant_status'
        required: true
      responses:
        201:
          description: Tenant's status definition updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        400:
          description: Bad request due to malformed JSON in put body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: tenant
  /v2/admin/tenants/{TENANT_ID}/users:
    get:
      tags:
      - Tenants
      summary: List all available users
      description: List all available users in a tenant
      operationId: tenants.ListUSers
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: TENANT_ID
        in: path
        description: id of the tenant
        required: true
        schema:
          type: string
      responses:
        200:
          description: A list of all available user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    post:
      tags:
      - Tenants
      summary: Create a new user on existing tenant
      description: Create a new user on existing tenant
      operationId: tenants.CreateUser
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: TENANT_ID
        in: path
        description: id of the tenant
        required: true
        schema:
          type: string
      requestBody:
        description: Json description of the user to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        201:
          description: User Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Self_reference'
        400:
          description: Bad request due to malformed JSON in post body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: user
  /admin/tenants/{TENANT_ID}/users/{USER_ID}:
    get:
      tags:
      - Tenants
      summary: Get user info
      description: Get information of specific user member of specific tenant
      operationId: tenants.GetUser
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: TENANT_ID
        in: path
        description: id of the tenant
        required: true
        schema:
          type: string
      - name: USER_ID
        in: path
        description: id of the user
        required: true
        schema:
          type: string
      responses:
        200:
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    put:
      tags:
      - Tenants
      summary: Update a user
      description: Update an existing user on specific tenant
      operationId: tenants.UpdateUser
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: TENANT_ID
        in: path
        description: id of the tenant
        required: true
        schema:
          type: string
      - name: USER_ID
        in: path
        description: id of the user
        required: true
        schema:
          type: string
      requestBody:
        description: Json description of the user to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        200:
          description: User Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        400:
          description: Bad request due to malformed JSON in post body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: user
    delete:
      tags:
      - Tenants
      summary: Delete a user from tenant
      description: Delete a specific user from an existing tenant
      operationId: tenant.DeleteUser
      parameters:
      - name: TENANT_ID
        in: path
        description: id of the tenant definition
        required: true
        schema:
          type: string
      - name: USER_ID
        in: path
        description: id of the user
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      responses:
        200:
          description: User Deleted and removed from tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
  /v2/admin/tenants/{TENANT_ID}/users/{USER_ID}/renew_api_key:
    post:
      tags:
      - Tenants
      summary: Renew a user's api key
      description: Renew a user's api key
      operationId: tenants.UserRenewKey
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: TENANT_ID
        in: path
        description: id of the tenant
        required: true
        schema:
          type: string
      - name: USER_ID
        in: path
        description: id of the user
        required: true
        schema:
          type: string
      responses:
        200:
          description: User key renewed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenewedToken'
        400:
          description: Bad request due to malformed JSON in post body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
  /v2/admin/users:byID/{USER_ID}:
    get:
      tags:
      - Tenants
      summary: List a specific user
      description: List one specific user designated by its unique id
      operationId: tenants.user_by_id
      parameters:
      - name: export
        in: query
        description: the service will respond with just a flat json user object when
          this parameter is given(export=flat)
        schema:
          type: string
      - name: USER_ID
        in: path
        description: id of the user
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      responses:
        200:
          description: A list with one user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
  /v2/reports/{REPORT_ID}:
    get:
      tags:
      - Reports
      summary: List a specific report
      description: List one specific report designated by its unique id
      operationId: reports.ListOne
      parameters:
      - name: REPORT_ID
        in: path
        description: id of the report
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      responses:
        200:
          description: A list with one report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    put:
      tags:
      - Reports
      summary: Update a report
      description: update information on a specific report definition
      operationId: reports.Update
      parameters:
      - name: REPORT_ID
        in: path
        description: id of the report
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      requestBody:
        description: Json description of report definition to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
        required: true
      responses:
        201:
          description: Report definition updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        400:
          description: Bad request due to malformed JSON in put body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: report
    delete:
      tags:
      - Reports
      summary: Delete a report
      description: Delete a specific report which is targeted by it's unique id
      operationId: reports.Delete
      parameters:
      - name: REPORT_ID
        in: path
        description: id of the Report definition
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      responses:
        200:
          description: Report definition Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
  /v2/reports:
    get:
      tags:
      - Reports
      summary: List all available reports
      description: Reports provide a collection
      operationId: reports.List
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      responses:
        200:
          description: A list of all available Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    post:
      tags:
      - Reports
      summary: Create a report definition
      description: Create a new Report definition
      operationId: reports.Create
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      requestBody:
        description: Json description of the report to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
        required: true
      responses:
        200:
          description: Report definition created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Self_reference'
        400:
          description: Bad request due to malformed JSON in post body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: report
  /v2/operations_profiles/{PROFILE_ID}:
    get:
      tags:
      - Operations Profiles
      summary: List a specific operations profile
      description: List one specific operations profile targeted by it's unique id
      operationId: operationsProfiles.ListOne
      parameters:
      - name: PROFILE_ID
        in: path
        description: id of the operations profile
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: A list with one operations profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operations_profile_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    put:
      tags:
      - Operations Profiles
      summary: Update an operations profile
      description: update information on a specific Operations Profile which is targeted
        by it's unique id
      operationId: operationsProfiles.Update
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      - name: PROFILE_ID
        in: path
        description: id of the operations profile
        required: true
        schema:
          type: string
      requestBody:
        description: Json description of the operations profile to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Operations_profile'
        required: true
      responses:
        201:
          description: Operations profile Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        400:
          description: Bad request due to malformed JSON in put body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: operations_profile
    delete:
      tags:
      - Operations Profiles
      summary: Delete an operations profile
      description: Delete a specific Operations Profile which is targeted by it's
        unique id
      operationId: operationsProfiles.Delete
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: PROFILE_ID
        in: path
        description: id of the operations profile
        required: true
        schema:
          type: string
      responses:
        200:
          description: Operations profile Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
  /v2/operations_profiles:
    get:
      tags:
      - Operations Profiles
      summary: List all operations profiles
      description: Operations Profiles provides a list of available monitoring states
        and logical operations defined on how to aggregate them
      operationId: operationsProfiles.List
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: A list of Operations profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operations_profile_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    post:
      tags:
      - Operations Profiles
      summary: Create an Operations profile
      description: Create a new Operations Profile
      operationId: operationsProfiles.Create
      parameters:
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
      requestBody:
        description: Json description of the operations profile to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Operations_profile'
        required: true
      responses:
        200:
          description: Operations profile Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Self_reference'
        400:
          description: Bad request due to malformed JSON in post body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: operations_profile
  /v2/aggregation_profiles/{PROFILE_ID}:
    get:
      tags:
      - Aggregation Profiles
      summary: List a specific aggregation profile
      description: List one specific aggregation profile targeted by it's unique id
      operationId: aggregationProfiles.ListOne
      parameters:
      - name: PROFILE_ID
        in: path
        description: id of the aggregation profile
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: A list with one aggregation profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aggregation_profile_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    put:
      tags:
      - Aggregation Profiles
      summary: Update an aggregation profile
      description: update information on a specific aggregation Profile which is targeted
        by it's unique id
      operationId: aggregationProfiles.Update
      parameters:
      - name: PROFILE_ID
        in: path
        description: id of the aggregation profile
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      requestBody:
        description: Json description of the aggregation profile to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Aggregation_profile'
        required: true
      responses:
        201:
          description: Aggregation profile Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        400:
          description: Bad request due to malformed JSON in put body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: aggregation_profile
    delete:
      tags:
      - Aggregation Profiles
      summary: Delete an aggregation profile
      description: Delete a specific aggregation Profile which is targeted by it's
        unique id
      operationId: aggregationProfiles.Delete
      parameters:
      - name: PROFILE_ID
        in: path
        description: id of the aggregation profile
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      responses:
        200:
          description: Aggregation profile Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
  /v2/aggregation_profiles:
    get:
      tags:
      - Aggregation Profiles
      summary: List all aggregation profiles
      description: Aggregation Profiles provide a hiearchy structure of how different
        services are being aggregated during computations
      operationId: aggregationProfiles.List
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: A list of aggregation profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aggregation_profile_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    post:
      tags:
      - Aggregation Profiles
      summary: Create an aggregation profile
      description: Create a new aggregation Profile
      operationId: aggregationProfiles.Create
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      requestBody:
        description: Json description of the aggregation profile to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Aggregation_profile'
        required: true
      responses:
        200:
          description: Aggregation profile Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Self_reference'
        400:
          description: Bad request due to malformed JSON in post body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: aggregation_profile
  /v2/metric_profiles/{PROFILE_ID}:
    get:
      tags:
      - Metric Profiles
      summary: List a specific metric profile
      description: List one specific metric profile targeted by it's unique id
      operationId: metricProfiles.ListOne
      parameters:
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: PROFILE_ID
        in: path
        description: id of the metric profile
        required: true
        schema:
          type: string
      responses:
        200:
          description: A list with one metric profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metric_profile_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    put:
      tags:
      - Metric Profiles
      summary: update a metric profile
      description: update information on a specific metric Profile which is targeted
        by it's unique id
      operationId: metricProfiles.Update
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      - name: PROFILE_ID
        in: path
        description: id of the metric profile
        required: true
        schema:
          type: string
      requestBody:
        description: Json description of the metric profile to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metric_profile'
        required: true
      responses:
        201:
          description: Metric profile Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        400:
          description: Bad request due to malformed JSON in put body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: metric_profile
    delete:
      tags:
      - Metric Profiles
      summary: Delete a metric profile
      description: Delete a specific metric Profile which is targeted by it's unique
        id
      operationId: metricProfiles.Delete
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: PROFILE_ID
        in: path
        description: id of the metric profile
        required: true
        schema:
          type: string
      responses:
        200:
          description: Metric profile Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
  /v2/metric_profiles:
    get:
      tags:
      - Metric Profiles
      summary: List all metric profiles
      description: Metric Profiles provide a list of relevant services/metrics to
        be accounted during a computation
      operationId: metricProfiles.List
      parameters:
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      responses:
        200:
          description: A list of metric profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metric_profile_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    post:
      tags:
      - Metric Profiles
      summary: Create a metric profile
      description: Create a new metric Profile which includes a list of relevant services
        and metrics to be accounted during a computation
      operationId: metricProfiles.Create
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      requestBody:
        description: Json description of the metric profile to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metric_profile'
        required: true
      responses:
        200:
          description: Metric profile Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Self_reference'
        400:
          description: Bad request due to malformed JSON in post body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: metric_profile
  /v2/thresholds_profiles/{PROFILE_ID}:
    get:
      tags:
      - Thresholds Profiles
      summary: List a specific threhsolds profile
      description: List one specific thresholds profile targeted by it's unique id
      operationId: thresholdsProfiles.ListOne
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      - name: PROFILE_ID
        in: path
        description: id of the thresholds profile
        required: true
        schema:
          type: string
      responses:
        200:
          description: A list with one thresholds profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thresholds_profile_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    put:
      tags:
      - Thresholds Profiles
      summary: update a threhsolds profile
      description: update information on a specific thresholds Profile which is targeted
        by it's unique id
      operationId: threhsoldsProfiles.Update
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      - name: PROFILE_ID
        in: path
        description: id of the thresholds profile
        required: true
        schema:
          type: string
      requestBody:
        description: Json description of the thresholds profile to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Thresholds_profile'
        required: true
      responses:
        201:
          description: Thresholds profile Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        400:
          description: Bad request due to malformed JSON in put body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: thresholds_profile
    delete:
      tags:
      - Thresholds Profiles
      summary: Delete a thresholds profile
      description: Delete a specific thresholds Profile which is targeted by it's
        unique id
      operationId: thresholdsProfiles.Delete
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: PROFILE_ID
        in: path
        description: id of the thresholds profile
        required: true
        schema:
          type: string
      responses:
        200:
          description: Thresholds profile Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
  /v2/thresholds_profiles:
    get:
      tags:
      - Thresholds Profiles
      summary: List all threhsolds profiles
      description: Thresholds profiles provide a list of threshold rules to be accounted
        during a computation
      operationId: thresholdsProfiles.List
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: A list of thresholds profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thresholds_profile_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    post:
      tags:
      - Thresholds Profiles
      summary: Create a thresholds profile
      description: Create a new thresholds profile which includes a list of threshold
        ruels to be accounted during a computation
      operationId: thresholdsProfiles.Create
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      requestBody:
        description: Json description of the thresholds profile to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Thresholds_profile'
        required: true
      responses:
        200:
          description: Thresholds profile Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Self_reference'
        400:
          description: Bad request due to malformed JSON in post body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: thresholds_profile
  /v2/downtimes:
    get:
      tags:
      - Downtimes
      summary: List all downtimes resources for specific name
      description: List available downtimes resources
      operationId: downtimes.List
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: A list of downtimes resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Downtimes_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    post:
      tags:
      - Downtimes
      summary: Create a new downtimes resource
      description: Create a new downtimes resource that includes a list of downtime
        periods assigned to hosts
      operationId: downtimes.Create
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      requestBody:
        description: Json description of the downtimes resource to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Downtimes'
        required: true
      responses:
        200:
          description: Downtimes resource Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Self_reference'
        400:
          description: Bad request due to malformed JSON in post body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: downtimes_resource
    delete:
      tags:
      - Downtimes
      summary: Delete a downtimes resource
      description: Delete a specific downtimes resource which is targeted by it's
        unique id
      operationId: downtimes.Delete
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: Downtimes resource deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
  /v2/weights/{PROFILE_ID}:
    get:
      tags:
      - Weights
      summary: List a specific weights resource
      description: List one specific weights resource targeted by it's unique id
      operationId: weights.ListOne
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      - name: PROFILE_ID
        in: path
        description: id of the weights resource
        required: true
        schema:
          type: string
      responses:
        200:
          description: A list with a weights resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Weights_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    put:
      tags:
      - Weights
      summary: update an existing weights resource
      description: update information on a specific weights resource which is targeted
        by it's unique id
      operationId: weights.Update
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      - name: PROFILE_ID
        in: path
        description: id of the weights resource
        required: true
        schema:
          type: string
      requestBody:
        description: Json description of the weight_resource to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Weights'
        required: true
      responses:
        201:
          description: Weights resource Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        400:
          description: Bad request due to malformed JSON in put body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: weights_resource
    delete:
      tags:
      - Weights
      summary: Delete a weights resource
      description: Delete a specific weights resource which is targeted by it's unique
        id
      operationId: weights.Delete
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: PROFILE_ID
        in: path
        description: id of the weights resource
        required: true
        schema:
          type: string
      responses:
        200:
          description: Weights resource deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
  /v2/weights:
    get:
      tags:
      - Weights
      summary: List all weight resource
      description: List available weight resources
      operationId: weights.List
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: A list of weights resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Weights_list'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    post:
      tags:
      - Weights
      summary: Create a new weights resource
      description: Create a new weights resource that includes mapping of groups and
        weights to be used through a computation
      operationId: weights.Create
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      requestBody:
        description: Json description of the weights resource to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Weights'
        required: true
      responses:
        200:
          description: Weights resource Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Self_reference'
        400:
          description: Bad request due to malformed JSON in post body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: weights_resource
  /v2/topology/stats/{report_name}:
    get:
      tags:
      - Topology
      summary: List topology statistics for a specific report
      description: This request lists number of groups and services contained in the
        report
      operationId: topology
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: report_name
        in: path
        description: report the probes belong to
        required: true
        schema:
          type: string
          default: CRITICAL
      - name: date
        in: query
        description: target day to get latest topology statistics
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: Successful retrieval of latest metric data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopologyResponse'
        400:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
                  details:
                    type: string
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        500:
          description: internal server error
          content:
            application/json:
              schema:
                type: string
  /v2/topology/tags:
    get:
      tags:
      - Topology
      summary: List topology tags and values
      description: This request lists the available tags and their distinct values
        present in the daily topology items
      operationId: topology.tags
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target day to get latest topology statistics
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: Successful retrieval of latest metric data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopologyTags_list'
        400:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
                  details:
                    type: string
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        500:
          description: internal server error
          content:
            application/json:
              schema:
                type: string
  /v2/topology/groups:
    get:
      tags:
      - Topology
      summary: List group topology per date
      description: List group topology per date
      operationId: topology_groups.list
      parameters:
      - name: name
        in: query
        description: filter results by group name
        schema:
          type: string
      - name: type
        in: query
        description: filter results by group type
        schema:
          type: string
      - name: subgroup
        in: query
        description: filter results by subgroup
        schema:
          type: string
      - name: tags
        in: query
        description: filter results by tags using the pattern tags=key:value,key:value
          etc...
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: Topology resources listed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Self_reference'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    post:
      tags:
      - Topology
      summary: Create a new group topology per date
      description: Create a new group topology which maps top level groups to subgroups
      operationId: topology_groups.create
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      requestBody:
        description: Json description of group topology items to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopologyGroups'
        required: true
      responses:
        200:
          description: Topology resource Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Self_reference'
        400:
          description: Bad request due to malformed JSON in post body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        409:
          description: Content already created for specific date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: group_resource
    delete:
      tags:
      - Topology
      summary: Delete topology of groups for a specific date
      description: Delete a list of groups (topology) for a specific date
      operationId: topology_groups.delete
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: groups topology definition Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
  /v2/topology/groups/by_report/{report_name}:
    get:
      tags:
      - Topology
      summary: List group topology per date and filter by report
      description: List group topology per date and filter by report
      operationId: topology_groups_report.list
      parameters:
      - name: report_name
        in: path
        description: filter results based on selected report
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: filtered topology resources listed based on report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Self_reference'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
  /v2/topology/service-types:
    get:
      tags:
      - Topology
      summary: List types of available service types per date
      description: List types of available service types per date
      operationId: topology_services.list
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: Topology resources listed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Self_reference'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
    post:
      tags:
      - Topology
      summary: Create a new list of service types per date
      description: Creates a new list of available service types per tenant for a
        specific date
      operationId: topology_services.create
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      requestBody:
        description: Json description of service type items to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopologyServiceTypes'
        required: true
      responses:
        200:
          description: Topology resource Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Self_reference'
        400:
          description: Bad request due to malformed JSON in post body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        409:
          description: Content already created for specific date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
      x-codegen-request-body-name: group_resource
    delete:
      tags:
      - Topology
      summary: Delete list of available service types
      description: Delete list of available service types for a specific date
      operationId: topology_services.delete
      parameters:
      - name: x-api-key
        in: header
        description: the x-api-key
        required: true
        schema:
          type: string
          default: SecretKey123
      - name: date
        in: query
        description: target date to retrieve a historic version of the profile
        schema:
          type: string
          default: todays_date in YYYY-MM-DD format
      responses:
        200:
          description: list of service types deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        401:
          description: Unauthorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        406:
          description: Content Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_error'
  /v2/topology/endpoints:
    get:
      tags:
      - Topology
      summary: List topology endpoints per date
      description: List topology endpoints per date
      operationId: topology_endpoints.list
      parameters:
      - name: name
        in: query
        description: filter results by group name
        schema:
          type: string
      - name: type
[...]
